


#header {
    height: 898px;
}

h1 {

padding-top: 80px;
margin-bottom: 10px
    font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 60px;
line-height: 100px;
color; #333333

}

.pricing {
background: #FFFFFF;
box-shadow: 0px 4px 20px rgba(47, 128, 237, 0.2);
border-radius: 10px;


}

/*
.fa-ul .fa-il: before {
    font-family: 'FontAwesome';
    content: '\f058';
    margin:0 5px 0 -15px;
    color: #f00;
}

*/

ul.list  {
    list-style-type: none !important;
    list-style: none !important;
    position:relative;
    display:block;
    left: -15px;
    list-style-position: outside;
    width:100%;
    padding-bottom:15px;
}

.list li {
    list-style-type: none !important;
    list-style: none !important;
    position: relative;
    padding-left: 5px;
    margin-bottom: 10px
    font-family: Avenir;
 font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
}

.list li:before {
  position: absolute;
  top: 0;
  left: -20px;
  background-color: #FFFFFF;
  font-family: FontAwesome;
  content: "\f058";
  color: #2270E1;
}

.fa-facebook {
  color: white;
  background: black;
}


.girl-video {

position: absolute;
width: 117px;
height: 108px;
left: 55%;
top: 30%;
z-index:1;
}

.camera-girl {
position: absolute;
width: 54px;
height: 54px;
left: 50%;
top: 40%;
z-index: 2;

}

.blue-girl {
position: absolute;
width: 129px;
height: 129px;
left: 0%;
top: 75%;
z-index:1;
}

.blue-girl-wifi {
position: absolute;
width: 54px;
height: 54px;
left: 30%;
top: 90%;
z-index:2;
}

.blue-man {
position: absolute;
width: 130px;
height: 130px;
left: 70%;
top: 30%;
z-index:1;
}

.casual-man {
position: absolute;
width: 130px;
height: 130px;
left: 20%;
top: 70%;
z-index:1;
}


.macbook-mac
    {
      position:absolute;
      top: 0px;
      left: 13.8px;
      z-index: 1;
      width: 397.98px;
      height: 397.98px;
    }

.macbook-marker
    {
      position:absolute;
      top: 15px;
      left: 15px;
      z-index: 2;
      width: 200px;
      height: 200px;
    }

.macbook-bubble
    {
      position:absolute;
      top: 135px;
      left: 225px;
      z-index: 3;
      width: 229px;
        height: 83px;
    }

.macbook-scribble
    {
      position:absolute;
      top: 182px;
      left: 310px;
      z-index: 4;
      width: 148px;
        height: 62px;
    }

.wfh-blob
    {
      position:absolute;
      top: 0px;
      left: 57px;
      z-index: 1;
      height: 332px;
      width: 467px;
    }
.wfh-girl
    {
      position:absolute;
      top: 0px;
      left: 57px;
      z-index: 2;
      height: 332px;
      width: 439px;
    }

.wfh-bubble
    {
      position:absolute;
      top: 220px;
      left: 0px;
      width: 236px;
        height: 83px;
      z-index: 3;
    }


.meeting-blob
    {
      position:absolute;
      top: 0px;
      left: 0px;
      z-index: 1;
      width: 490px;
        height: 329.99px;
    }

.meeting-table
    {
      position:absolute;
      top: 0px;
      left: 34.9px;
      z-index: 2;
      width: 449.17px;
        height: 298.28px;
    }

.work-scene-blob {
position:absolute;
      top: 85px;
      left: 65px;
      z-index: 1;
width: 357.84px;
height: 422.92px;

}

.work-scene {
position:absolute;
      top: 0px;
      left: 0px;
      z-index: 2;
width: 375.43px;
height: 566.32px;

}
.howwe {

background: #FFFFFF;
box-shadow: 0px 4px 20px 10px rgba(47, 128, 237, 0.1);
border-radius: 10px;
width: 300px;
height: 300px;
}

.nav-item {
font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: black;
  text-align: center;

}

navbar {
 background-color: white;
}


p {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  color: #333333;

}

h4 {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
  color: #333333;

}

.quote {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: left;

}

.recommender {

  background: #2270E1;
  color: white;

}

.author {
  font-family: Avenir;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  text-align: right;

}

h2 {
font-family: Avenir;
font-style: normal;
font-weight: 800;
font-size: 56px;
line-height: 140%;
/* or 78px */

text-align: center;
letter-spacing: -0.01em;

/* text */

color: #333333;
}

h5 {
/* H5 */

font-family: Avenir;
font-style: normal;
font-weight: normal;
font-size: 28px;
line-height: 38px;
text-align: center;

/* text */

color: #333333;
}