
.btn {


}

#header {
    height: 898px;
}

html, body {

  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;

}

h1 {
  font-family: 'Lato', sans-serif;
  font-weight: 800;
  padding-top: 80px;
  margin-bottom: 10px;
  color: #333333;
}

h2, h4 {
  font-family: 'Lato', sans-serif;
  padding-top: 80px;
  font-weight: 800;
  /* or 78px */
  text-align: center;
  color: #333333;
}

/* unvisited link */
a:link {
  color: #FFFFFF;
}

/* visited link */
a:visited {
  color: #FFFFFF;
}

/* mouse over link */
a.footer-link:hover {
  color: #FFFFFF;
  text-decoration: underline;

}

.wrap {
  color: #2270E1;
}



.footer-link a {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.01em;

  color: #FFFFFF;
}





.footer-link h6 {
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
  /* identical to box height */

  letter-spacing: -0.01em;

  color: #FFFFFF;
}




/* font sizes for large screens */
@media screen and (min-width: 1200px) {

  .show-div{display:none;}

  p {
    font-size: 24px;
    line-height: 36px;
  }

  h1 {
    font-size: 60px;
    line-height: 140%;
  }

  h2 {
    font-size: 42px;
    line-height: 68px;
  }

    h3 {
    font-family: 'Lato', sans-serif;
font-style: normal;
font-weight: 500;
font-size: 36px;
line-height: 140%;
/* or 50px */

letter-spacing: -0.01em;
  }

  h4 {
    font-size: 28px;
    line-height: 38px;

  }

  h5 {
    /* H5 */
    font-size: 28px;
    line-height: 38px;

  }
  .list li {
    font-size: 22px;
    line-height: 33px;

  }
}

/* If the screen size is 600px wide or less, set the font-size of <div> to 30px */
@media only screen and (max-device-width: 1199px) {
    .hide-img{display:none;}

  p {
    font-size: 24px;
    line-height: 36px;
  }

  h1 {
    font-size: 45px;
    line-height: 75px;
  }

  h2 {
    font-size: 31.5px;
    line-height: 51px;
  }

  h4 {
    font-size: 24px;
    line-height: 34px;

  }

  h5 {
    /* H5 */
    font-size: 21px;
    line-height: 28.5px;

  }
  .list li {
    font-size: 22px;
    line-height: 24px;

  }
}


p {

  color: #333333;

}


.quote {

  text-align: left;
  color:white;

}

.author {
    text-align: right;
    color:white;

}


#column-content {
display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;

}



.button {
  max-width: 80%;
}

.card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin-bottom: 10px; /* Added */
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #2270E1;
}

.pricing {


  background: #FFFFFF;
  box-shadow: 0px 4px 20px rgba(47, 128, 237, 0.2);
  border-radius: 10px;
}

/*
.fa-ul .fa-il: before {
    font-family: 'FontAwesome';
    content: '\f058';
    margin:0 5px 0 -15px;
    color: #f00;
}

*/

ul.list.center  {
    list-style-type: none !important;
    list-style: none !important;
    position:relative;
    display:inline-block;
    left: 8em;
    list-style-position: outside;
    width:80%;
    padding-bottom:15px;
}

ul.list.normal  {
    list-style-type: none !important;
    list-style: none !important;
    position:relative;
    display:inline-block;
    left: -4em;
    list-style-position: outside;
    width:80%;
    padding-bottom:15px;
}


.list li {
    list-style-type: none !important;
    list-style: none !important;
    list-style-image: url('/static/webpage/img/check.svg');
    position: relative;
    padding-left: 1em;
    margin-bottom: 10px

}

/**
.list li:before {
  position: absolute;
  top: 0;
  left: -20px;
  background-color: #FFFFFF;
  font-family: FontAwesome;
  content: "\f058";
  color: #2270E1;
}
**/

.list li:before {
content:'';
display:inline-block;
height:18px;
width:18px;
background-image: url('/static/webpage/img/check.svg');
background-size:contain;
background-repeat:no-repeat;
position: relative;
padding-left: 2em;
}

.logindiv {

  background: linear-gradient(to bottom, #FFFFFF 0%, #FFFFFF 50%, #2270E1 50%, #2270E1 100%);
}

.btn {
width: 40%;
  height: 10%;
  font-size: 20px;
  font-weight: 600;
}

.btn-chris-blue{
  background-color:#2270E1;
  color: #FFFFFF;
  width: 40%;
    height: 10%;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    border: none;
}
.btn-chris-blue:hover{
  background-color:grey;
  color: #FFFFFF;
  text-decoration: none;

}

a button:hover {
  text-decoration: none;
}




.guy-video {

position: absolute;
  left: 40%;
  top: 20%;
  z-index:1;
  width: 159px;
  height: 159px;

}



.shirt-man {
  position: absolute;
  width: 129px;
  height: 129px;

}

.blue-girl {
  position: absolute;
  width: 167px;
  height: 150px;
  left: 10%;
  top: 65%;
  z-index:1;
}

.blue-girl-wifi {
  position: absolute;
  width: 54px;
  height: 54px;
  left: 35%;
  top: 90%;
  z-index:2;
}

.blue-man {
position: absolute;
width: 130px;
height: 130px;
left: 0%;
top: 20%;
z-index:1;
}

.casual-man {
  position: absolute;
  width: 140px;
  height: 130px;
  left: 20%;
  top: 70%;
  z-index:1;
}


.wfh-blob {
  position:absolute;
  top: 10%;
  left: 0%;
  z-index: 1;

}

.wfh-girl {
  position:absolute;
top: 10%;
  left: 0%;
  z-index: 2;

}

.wfh-bubble {
  position:absolute;
top: 85%;
  left: -5%;
  max-height:  35%;
  width:auto;

  z-index: 3;
}

.wifi-pricing {

  position:absolute;
  top: 10%;
  left: 0%;
  z-index: 1;

}

.message-pricing {
  position:absolute;
  top: 80%;
  left: 10%;
  z-index: 1;

}

.camera-pricing {

  position:absolute;
  top: 50%;
  left: 70%;
  z-index: 1;
}

#column-content {
  display: inline-block;
}

img {
  vertical-align: middle;
}





.macbook-mac {
  position:absolute;
  z-index: 1;
  top: 0%;
  left: 0%;
  max-height:100%
  object-fit: cover;

}

.macbook-marker  {
  position:absolute;
  z-index: 2;
  height: 50%;
  top: 0%;
  left: 0%;


}

.macbook-bubble {
  position:absolute;
  top: 50%;
  left: 50%;
  z-index: 3;
  max-height:  35%;
  width:auto;


}

.macbook-scribble {
  position:absolute;
  top: 65%;
  left: 60%;
  z-index: 4;


}




.meeting-blob {
  position:absolute;
  top: 0%;
  left: 0%;
  z-index: 1;
}

.meeting-table {
  position:absolute;
  top: 0%;
  left: 0%;
  z-index: 2;
}


.work-scene-blob {
  position:absolute;
  top: 15%;
  left: 15%;
  z-index: 1;

}

.work-scene {
  position:absolute;
  top: 0%;
  left: 5%;
  z-index: 2;

}

.work-scene-slack {
  position:absolute;
  top: 55%;
  left: 0%;
  z-index: 3;
  max-height:  15%;
  width:auto;

}

.work-scene-trello {
  position:absolute;
  top: 80%;
  left: 0%;
  z-index: 3;
  max-height:  15%;
  width:auto;

}

.work-scene-micro {
  position:absolute;
  top: 75%;
  left: 40%;
  z-index: 3;
  max-height:  15%;
  width:auto;


}

.howwe {
  background: #FFFFFF;
  box-shadow: 0px 4px 20px 10px rgba(47, 128, 237, 0.1);
  border-radius: 10px;
  width: 300px;
  height: 300px;
}

.nav-item {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  color: black;
  text-align: center;

}

navbar {
 background-color: white;
}




.recommender {

  background: #2270E1;
  color: white;

}



h2 {
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 140%;
  /* or 78px */
  text-align: center;
  letter-spacing: -0.01em;
  /* text */
  color: #333333;
}

h5 {
/* H5 */
  font-family: 'Lato', sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  line-height: 38px;
  text-align: center;
/* text */
  color: #333333;
}

input {
    border:none;
    border-bottom: 1px solid #1890ff;
    padding: 5px 10px;
    outline: none;
}



.fa:hover {
    opacity: 0.7;
}

.blinking-cursor {
  font-weight: 100;
  font-size: 60px;
  color: #2E3D48;
  -webkit-animation: 1s blink step-end infinite;
  -moz-animation: 1s blink step-end infinite;
  -ms-animation: 1s blink step-end infinite;
  -o-animation: 1s blink step-end infinite;
  animation: 1s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: black;
  }
}

img.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
