{% extends "index.html" %}
{% load static %}
{% block page %}

<div class="container p-5 my-3 text-center">
    <div class="row">
        <div class="col my-5 px-5">
            <h2>Our Mission is to Fix your English <mark style="color:#2270E1;background:#FFFFFF;">Communication</mark> <span style='color:#2270E1;text-decoration:line-through'>
  <span style='color:black;'>problems</span>
</span>
            </h2>
        </div>
    </div>

    <div class="row">

        <div class="col my-5 px-5">
            <p>To make the world a better place, for everyone, including ourselves, it requires better communication. So, let us, help you. </p>  
            <br>
            <p>We want to play our part. </p>
        </div>
    </div>
    <div class="row">

        <div class="col-md-12 my-5 px-5">
            <h2>&#128075; <mark style="color:#2270E1;background:#FFFFFF;">Meet</mark> Chris</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 my-5 px-5">
            <img src="{% static 'webpage/img/chris.svg' %}">
        </div>
        <div class="col-md-9 my-5 px-5 text-left">
            <p>The founder of Business English is Chris Conlon.</p>
            <br>
            <p>Chris is an English language coach, a Business English Teacher, and a Copywriter.</p>
            <br>
            <p>A Native Speaker from Northern Ireland who teaches Business English at some of the most well-known companies in the world. </p>
        </div>
    </div>

    <div class="row">

        <div class="col my-5 px-5">
            <h2>What matters to us is <mark style="color:#2270E1;background:#FFFFFF;">people</mark></h2>
        </div>
    </div>

    <div class="row">

        <div class="col my-5 px-5">
            <p>BIT English was founded with the idea of operating as one single team united by  a strong set of values, including a commitment to diversity,  and making positive social impact through our work. </p>
            <p>Our main goal is to help clients communicate better at work so they can get on with building new solutions to real-world problems that matter.</p>
        </div>
    </div>
</div>

<div class="container-fluid p-5 bg-primary text-white recommender my-5" id="quote3">
    <div class="row">
        <div class="col-lg-2">


            <image src="{% static 'webpage/img/man-beard.svg' %}" ></image>


        </div>
        <div class="col-lg-10">
            <p class="quote">Here goes the most important review Here goes the most important review Here goes the most important review Here goes the most important review Here goes the most important review - CEO of your first IT client</p>
            <p class="author">  <strong>Jane Doe, CEO Company xyz </strong></p>

        </div>
    </div>

</div>

<div class="container">
    <div class="row">

        <div class="col my-5 px-5">
            <h2>Why Work  <mark style="color:#2270E1;background:#FFFFFF;">With Us?</mark></h2>
        </div>
    </div>

    <div class="row hide-img">

        <div class="col p-5 mx-3 text-center howwe">
            <h3>Experience</h3>
            <p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
        </div>
        <div class="col p-5 mx-3 text-center howwe">
            <h3>Flexibility</h3>
            <p>Regardless of where you're located, we can quickly connect the right coach</p>
        </div>
        <div class="col p-5 mx-3 text-center howwe">
            <h3>Team</h3>
            <p>with the right experience and expertise, anywhere in the world.</p>
        </div>

    </div>

    <div class="row show-div">

        <div class="col p-5 mx-3 float-center">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active howwe p-5 mx-3 ">
                        <h3>Experience</h3>
                        <p>lorem ipsum lorem ipsumlorem ipsumlorem ipsumlorem ipsum</p>
                    </div>
                    <div class="carousel-item howwe p-5 mx-3 ">
                        <h3>Flexibility</h3>
                        <p>Regardless of where you're located, we can quickly connect the right coach</p>
                    </div>
                    <div class="carousel-item howwe p-5 mx-3 ">
                        <h3>Team</h3>
                        <p>with the right experience and expertise, anywhere in the world.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col my-5 px-5">
            <h2>Still not sure?</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6 my-5 text-left">
        <p>Improved English in the workplace has been known to: </p>
            <br>
            <ul class="list">
                <li class="list">Improve workflows</li>
                <li class="list">Reduce communication errors</li>
                <li class="list">Increase employee engagement </li>
                <li class="list">Increase employee satisfaction</li>
                <li class="list">And increase profits</li>
            </ul>
            <br>
            <button type="button" class="btn btn-primary text-center" style="width: 347px;height: 56px;">Book a free call</button>
            <div class="col-md-3"></div>
        </div>
    </div>



</div>


{% endblock %}