{% extends "index.html" %}
{% load static %}
{% block page %}

<div class="container p-5 my-3 text-center">
    <div class="row">
        <div class="col my-5 px-5">
            <h2>Our Mission is to Fix your English <mark style="color:#2270E1;background:#FFFFFF;">Communication</mark> <span style='color:#2270E1;text-decoration:line-through'>
  <span style='color:black;'>problems</span>
</span>
            </h2>
        </div>
    </div>

    <div class="row">

        <div class="col my-5 px-5 text-justify">
            <p>Our goal is to help you communicate better globally to build new solutions to real-world problems that matter. To make the world a better place for everyone, including ourselves, requires better communication. We want to play our part . So, let us, help you.</p>

        </div>
    </div>
    <div class="row">

        <div class="col-md-12 px-5">
            <h2>&#128075; <mark style="color:#2270E1;background:#FFFFFF;">Meet</mark> Chris</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 my-5 px-5">
            <img src="{% static 'webpage/img/chris.svg' %}">
        </div>
        <div class="col-md-9 my-5 px-5 text-justify">
          <p>BIT English was founded with a strong set of ethical values  and the idea of making a positive social impact through our work. </p>
          <br>
          <p>We take a modern approach to business and education. Regardless of where you're located, we can quickly connect the right coach, with the right experience and expertise to you.</p>
          <br>
          <p>Let's get to work!</p>
          <br>
          <p> Chris Conlon </p>
            <p>Founder of BIT English</p>

    </div>
    </div>


</div>

<div class="container-fluid p-5 bg-primary text-white recommender my-5" id="quote3">
    <div class="row">

        <div class="col-lg-10">
            <p class="quote">Chris truly cares about his students.  I work as an IT specialist, my main goal was to accelerate my professional English skills. As Chris knows the IT world and jargon very well, he was able not only to adjust the topics of the lessons to my needs, but also give me a lot of useful tips on how to communicate with international, agile teams, and how to become more confident during my daily meetings.

I can highly recommend Chris, he’s a highly skilled teacher and mentor.</p>
            <p class="author">  <strong>Marta Gierszewska, UX Designer @ FIFA </strong></p>

        </div>
        <div class="col-lg-2">


            <image src="{% static 'webpage/img/Marta.png' %}" height="178px" width="178px" ></image>


        </div>
    </div>

</div>

<div class="container">


    <div class="row">

        <div class="col px-5">
            <h2>What are you waiting for?</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8 my-5">
        <p class="text-center">Better English in the workplace... </p>
            <br>
            <ul class="list center">
                <li class="list">Improves workflows</li>
                <li class="list">Reduces communication errors</li>
                <li class="list">Increases employee engagement </li>
                <li class="list">And boosts profits</li>
            </ul>
            <br>
            <div class="text-center">
            <button type="button" class="btn btn-primary" style="width: 347px;height: 56px;"><a href="/#contact">Contact Us!<a></button>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>



</div>


{% endblock %}
