{% extends "index.html" %}
{% load static %}
{% block page %}

<div class="container text-center" id="header">

    <div class="row">
        <div class="col-lg-2 hidden-sm">

            <img src="{% static 'webpage/img/girl video.svg' %}"  class="hide-img girl-video" >
            <img src="{% static 'webpage/img/camera@3.png' %}" class="hide-img camera-girl" >
            <img src="{% static 'webpage/img/Girl_BlueBg@3.png' %}" class="hide-img blue-girl" >
            <img src="{% static 'webpage/img/wifi@3.png' %}" class="hide-img blue-girl-wifi"  >
        </div>
        <div class="col-lg-8">
            <h1 class="text-center">
                Debug your English
                <br>
                for better <a href="" class="typewrite" data-period="1000" data-type='[ "collaboration", "meetings", "retrospectives", "stand-ups", "scrum" ]'>
                <span class="wrap"></span></a>
            </h1>

            <br><br><br>
            <h4>English lessons by specialist English teachers dedicated to IT companies and global teams. </h4>
            <br>
            <br>
            <button type="button" class="btn btn-primary text-center" style="width: 60%;">Get Started!</button>


        </div>
        <div class="col-lg-2 hidden-sm">

            <img src="{% static 'webpage/img/Man_BlueBg@3x.png' %}" class="hide-img blue-man"  >
            <img src="{% static 'webpage/img/Man_CasualBg@3x.png' %}" class="hide-img casual-man"  >

        </div>

    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col my-5">
            <img src="{% static 'webpage/img/grey man.svg' %}" class="woman-gif float-left" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine" >

            <img src="{% static 'webpage/img/woman gif.svg' %}" class="woman-gif float-right" data-aos="fade-right" data-aos-offset="100" data-aos-easing="ease-in-sine" >

        </div>
        <div class="col"></div>
    </div>












</div>
<div class="container-fluid p-5 bg-primary text-white recommender" id="quote1">
    <div class="row">
        <div class="col-md-2">
            <image src="{% static 'webpage/img/man-beard.svg' %}" ></image>


        </div>
        <div class="col-md-10">
            <p class="quote">Here goes the most important review Here goes the most important review Here goes the most important review Here goes the most important review Here goes the most important review - CEO of your first IT client</p>
            <p class="author">  <strong>Jane Doe, CEO Company xyz </strong></p>

        </div>
    </div>

</div>

<div class="container" id="what">
    <div class="row" id="what_header">
        <div class="col-md-2"></div>
        <div class="col-md-8 text-center">
            <h2> &#9999;&#65039; English Language Programs Designed For Agile <mark style="color:#2270E1;background:#FFFFFF;">IT Teams</mark></h2>
        </div>
        <div class="col-md-2"></div>
    </div>

    <div class="row my-5 py-5 " id="what1">
        <div class="col-md-6 m-5 p-5 text-left mx-auto" id="column-content"  >

            <h3 >Remote</h3>
            <p >Working from home? No problem.
                Flexible online English lessons for professionals.
                <br>
                <br>
                Fit to your schedule wherever  you are!</p>

        </div>
        <div class="col-md-6 px-0" style="height:40vh" >
            <img src="{% static 'webpage/img/girl WFH scene@3.png' %}" class="img-fluid wfh-girl">
            <img src="{% static 'webpage/img/shape WFH scene@3x.png' %}" class="img-fluid wfh-blob">
            <img src="{% static 'webpage/img/WFH bubble@3.png' %}" class="img-fluid wfh-bubble">
        </div>
    </div>

    <div class="row my-5" id="what2" >

        <div class="col-md px-0 order-md-1 order-sm-2" style="height:40vh" >
            <img src="{% static 'webpage/img/macbook 3d@3.png' %}" class="img-fluid macbook-mac">
            <img src="{% static 'webpage/img/- Marker@3.png' %}" class="img-fluid macbook-marker">
            <img src="{% static 'webpage/img/movedQA bubble@3x.png' %}" class="img-fluid macbook-bubble">
            <img src="{% static 'webpage/img/scribble@3.png' %}" class="img-fluid macbook-scribble">
        </div>
        <div class="col-md order-md-2 m-5 p-5 order-sm-1 text-left text-div" style="height:40vh">
            <h3>Tech-oriented</h3>
            <p>Processes and industry jargon? We speak your language. Scrum, Agile, Kanban? We understand your approach.</p>
        </div>
    </div>



    <div class="row" id="what3" style="margin-bottom: 80px;">
        <div class="col-md m-5 p-5 text-left" style="height:40vh">
            <h3>Soft Skills</h3>
            <p>
                Cross-cultural English lessons to help global teams communicate effectively.
                <br>
                <br>
                You will develop:  
            </p>
            <ul class="list">
                <li class="list">  interpersonal skills;</li>
                <li class="list">  listening skills;</li>
                <li class="list">  conflict resolution etc.</li>
            </ul>
        </div>
        <div class="col-md text-center my-5" style="height:40vh">
            <img src="{% static 'webpage/img/blob IT meeting scene@3x.png' %}" class="img-fluid meeting-blob" >
            <img src="{% static 'webpage/img/IT meeting scene@3x.png' %}" class="img-fluid meeting-table" >
        </div>
    </div>
    <div class="row">
        <div class="col p-5 my-3 text-center">
            <p>Want to sneak a peak how it looks like in practice?</p>

            <a href="">Download free e-book</a>
        </div>


    </div>


</div>

<div class="container-fluid p-5 my-3 recommender">
    <div class="row">
        <div class="col-lg-2">
            <img src="{% static 'webpage/img/default.jpg' %}" class="rounded-circle" alt="Cinque Terre" height="150" width="150">
        </div>
        <div class="col-lg-10">
            <p class="quote">Here goes the most important review Here goes the most important review Here goes the most important review Here goes the most important review Here goes the most important review - CEO of your first IT client</p>
            <p class="author">  Jane Doe, CEO Company xyz</p>

        </div>
    </div>

</div>

<div class="container p-5 my-3 text-center">
    <div class="row">

        <div class="col my-5 px-5">
            <h2>&#127891; How do we <mark style="color:#2270E1;background:#FFFFFF;">teach?</mark></h2>
        </div>
    </div>

    <div class="row">

        <div class="col my-5 px-5">
            <p>We truly care about each student and we do our best to provide comfortable and relaxed atmosphere. There are three values that guide us.</p>
        </div>
    </div>



    <div class="row hide-img">

        <div class="col p-5 mx-3 text-center howwe">
            <h3>Comfortable</h3>
            <p>We have individual lessons or small groups  for personal English lessons</p>
        </div>
        <div class="col p-5 mx-3 text-center howwe">
            <h3>Efficient</h3>
            <p>We use modern English using digital learning materials.</p>
        </div>
        <div class="col p-5 mx-3 text-center howwe">
            <h3>Customized</h3>
            <p>We have Tools and methodology tailored to your needs.</p>
        </div>

    </div>

    <div class="row show-div">

        <div class="col p-5 mx-3 float-center">
            <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active howwe p-5 mx-3 ">
                        <h3>Comfortable</h3>
                        <p>We have individual lessons or small groups  for personal English lessons</p>
                    </div>
                    <div class="carousel-item howwe p-5 mx-3 ">
                        <h3>Efficient</h3>
                        <p>We use modern English using digital learning materials.</p>
                    </div>
                    <div class="carousel-item howwe p-5 mx-3 ">
                        <h3>Efficient</h3>
                        <p>We use modern English using digital learning materials.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col my-5 px-5">
            <p>It’s not the quantity, but the quality that matters for us.</p>
            <p> Let’s check what we can do for you.</p>
            <button type="button" class="btn btn-primary text-center" style="width: 347px;height: 56px;">Get Started!</button>
        </div>
    </div>



</div>

<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>&#128076; Our Framework <mark style="color:#2270E1;background:#FFFFFF;">Is Simple</mark></h2>

        </div>

    </div>


    <div class="row" id="how">

        <div class="col-md text-center" style="height:600px">
            <img src="{% static 'webpage/img/work on laptop scene@3x.png' %}" class="img-fluid work-scene">
            <img src="{% static 'webpage/img/blob work on laptop scene@3x.png' %}" class="img-fluid work-scene-blob" data-aos="fade-up" data-aos-offset="200" data-aos-easing="ease-in-sine">
            <img src="{% static 'webpage/img/slack bubble@3x.png' %}" class="img-fluid work-scene-slack" data-aos="fade-up" data-aos-easing="ease-in-sine">
            <img src="{% static 'webpage/img/trello bubble@3x.png' %}" class="img-fluid work-scene-trello" data-aos="fade-up" data-aos-easing="ease-in-sine">
            <img src="{% static 'webpage/img/miro bubble@3x.png' %}" class="img-fluid work-scene-micro" data-aos="fade-up" data-aos-easing="ease-in-sine">

        </div>

        <div class="col-md my-5" style="height:50vh">
            <h3 class="text-left my-5">Examples from IT world</h3>
            <p class="text-left my-5">
                We create customized programs: Authentic English learning materials to help you in your:
            </p>
            <ul class="list">
                <li class="list">  Daily meetings</li>
                <li class="list">  Project kick offs</li>
                <li class="list">  Feedback sessions, and more</li>
            </ul>
            <h3>Integration with your favourite tools</h3>
        </div>

    </div>

</div>

<div class="container-fluid p-5 bg-primary text-white recommender my-5" id="quote3">
    <div class="row">
        <div class="col-lg-2">


              <image src="{% static 'webpage/img/man-beard.svg' %}" ></image>


        </div>
        <div class="col-lg-10">
            <p class="quote">Here goes the most important review Here goes the most important review Here goes the most important review Here goes the most important review Here goes the most important review - CEO of your first IT client</p>
            <p class="author">  <strong>Jane Doe, CEO Company xyz </strong></p>

        </div>
    </div>

</div>

<div class="container p-5 my-3 text-center">
    <div class="row">

        <div class="col my-5 ">
            <h2>&#128226; We Help You Select <mark style="color:#2270E1;background:#FFFFFF;">The Right Offer</mark> For You Or Your Team</h2>
        </div>
    </div>

    <div class="row">

        <div class="col my-5 px-5">
            <p>Contact us or schedule a strategy call to discuss your next steps</p>
            <p>for better English communication at work.</p>
        </div>
    </div>

    <div class="row">

        <div class="col py-5 text-center">

            <div class="card pricing mx-auto" style="width: 550px;">

                <div class="card-body p-5">

                    <h3>Custom Pricing</h3>
                    <br>
                    <p>Our offer is based on your personal requirements:</p>
                    <br>
                    <ul class="list text-left">
                        <li class="list">Individual or Team Meetings</li>
                        <li class="list">Lesson duration & frequency</li>
                        <li class="list">Program: General or bespoke</li>
                    </ul>
                    <br>
                    <button type="button" class="btn btn-primary text-center" style="width: 347px;height: 56px;">Book a free call</button>
                </div>
            </div>


        </div>


    </div>
</div>

    <div class="container-fluid px-5 bg-primary text-white ">
        <div class="row">
            <div class="col py-5 text-center">

                <p class="text-white" >Book your strategy call today. - here goes a short explanation what a strategy call is, what to expect after such a call, how does it look like etc etc etc</pcl>
            </div>
        </div>
    </div>

    <script>
    AOS.init();

    var TxtType = function(el, toRotate, period) {
        this.toRotate = toRotate;
        this.el = el;
        this.loopNum = 0;
        this.period = parseInt(period, 10) || 2000;
        this.txt = '';
        this.tick();
        this.isDeleting = false;
    };

    TxtType.prototype.tick = function() {
        var i = this.loopNum % this.toRotate.length;
        var fullTxt = this.toRotate[i];

        if (this.isDeleting) {
        this.txt = fullTxt.substring(0, this.txt.length - 1);
        } else {
        this.txt = fullTxt.substring(0, this.txt.length + 1);
        }

        this.el.innerHTML = '<span class="wrap">'+this.txt+'</span>';

        var that = this;
        var delta = 200 - Math.random() * 100;

        if (this.isDeleting) { delta /= 2; }

        if (!this.isDeleting && this.txt === fullTxt) {
        delta = this.period;
        this.isDeleting = true;
        } else if (this.isDeleting && this.txt === '') {
        this.isDeleting = false;
        this.loopNum++;
        delta = 500;
        }

        setTimeout(function() {
        that.tick();
        }, delta);
    };

    window.onload = function() {
        var elements = document.getElementsByClassName('typewrite');
        for (var i=0; i<elements.length; i++) {
            var toRotate = elements[i].getAttribute('data-type');
            var period = elements[i].getAttribute('data-period');
            if (toRotate) {
              new TxtType(elements[i], JSON.parse(toRotate), period);
            }
        }
        // INJECT CSS
        var css = document.createElement("style");
        css.type = "text/css";
        css.innerHTML = ".typewrite > .wrap { border-right: 0.08em solid #fff}";
        document.body.appendChild(css);
    };
</script>
    {% endblock %}
